.item {
    height: 30px;
    width: 80%;
    overflow: hidden;
    border-bottom: 1px solid #6f6f6f;
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
    background: #beaeed;
    text-align: center;
    line-height: 30px;
}

.item-animated-enter {
    height: 0;
    opacity: 0;
    transform: translateX(-20%);
}
